# 강의 복습

## 🎯 복습 내용

### 2시차

1. **변수와 데이터 타입**
   - 기본 데이터 타입: int, float, str, bool, list, tuple, dict
   - 변수 선언과 할당
   - type() 함수로 타입 확인

2. **연산자와 표현식**
   - 산술 연산자: +, -, *, /, //, %, **
   - 복합 대입 연산자: +=, -=, *=, /=
   - 비교 연산자: ==, !=, >, <, >=, <=
   - 논리 연산자: and, or, not

3. **입출력 처리**
   - input() 함수로 사용자 입력 받기
   - 타입 변환: int(), float(), str()
   - print() 함수로 출력

4. **문자열 다루기**
   - 문자열 메서드: upper(), lower(), split(), join()
   - 문자열 슬라이싱과 인덱싱
   - 문자열 포매팅: f-string, format(), % 포매팅

### 3시차

1. **조건문**: if-elif-else, 논리 연산자
2. **반복문**: for, while, break, continue
3. **무한 반복문**: while True와 break 활용
4. **함수**: 정의, 매개변수, 반환값
5. **람다 함수**: filter, map 기본 활용
   
### 4시차

1. **리스트**: 순서가 있고 변경 가능한 데이터 모음
   - 핵심 메서드: `append()`, `remove()`, `sort()`, `pop()`
2. **딕셔너리**: 키-값 쌍으로 데이터를 저장
   - 핵심 메서드: `keys()`, `values()`, `items()`, `get()`
3. **튜플**: 순서가 있지만 변경 불가능한 데이터 모음
   - 핵심 메서드: `count()`, `index()`
4. **집합**: 중복 없는 데이터 모음
   - 핵심 메서드: `add()`, `remove()`, `union()`, `intersection()`
5. **파일 처리**: with문을 사용한 안전한 파일 입출력

## 저장했던 메모 불러오기

In [2]:
filename = r"my_memo.txt"

txt = open(filename, mode = 'r', encoding='UTF-8')
read_all = txt.read()
print(read_all)

오늘 배운 것들:
1. 리스트 - 쇼핑 목록 만들기
2. 딕셔너리 - 친구 연락처 만들기
3. 파일 저장 - 이 메모처럼!

In [3]:
filename = r"my_memo.txt"
txt = open(filename, mode = 'r', encoding='UTF-8')
read_lines = txt.readlines()
print(read_lines)
for line in read_lines:
    print(line)

['오늘 배운 것들:\n', '1. 리스트 - 쇼핑 목록 만들기\n', '2. 딕셔너리 - 친구 연락처 만들기\n', '3. 파일 저장 - 이 메모처럼!\n']
오늘 배운 것들:

1. 리스트 - 쇼핑 목록 만들기

2. 딕셔너리 - 친구 연락처 만들기

3. 파일 저장 - 이 메모처럼!

In [ ]:
print(type(lines))
print(type(read_lines))

<class 'str'>
<class 'list'>

In [ ]:
print(len(lines))
print(len(read_lines))
print(type(read_lines[0]))

69
4
<class 'str'>

# 5강: Pandas 라이브러리 활용

## 🎯 학습 목표
- DataFrame 생성과 기본 조작 방법 학습
- 데이터 필터링과 정렬 기법 습득
- 그룹화와 집계 함수 활용법 익히기
- 결측치 처리 방법 완전 정복

---

## 📚 강의 개요 (60분)
1. DataFrame 생성 및 기본 조작 (15분)
2. 데이터 필터링과 정렬 (15분)
3. 그룹화와 집계 함수 (15분)
4. 결측치 처리 방법 (10분)
5. 실습 및 정리 (5분)

In [ ]:
# python -m ipykernel install --user --name aibasic --display-name aibasic

In [ ]:
# !pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.22.4 in /home/jhlee/anaconda3/envs/py39_hsai/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jhlee/anaconda3/envs/py39_hsai/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/jhlee/anaconda3/envs/py39_hsai/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 11.4 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]2m2/3 [pandas]
Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2

## 1. DataFrame 생성 및 기본 조작

### 1.1 Pandas 라이브러리 소개

**🤔 Pandas를 왜 사용할까요?**

데이터 분석에서 가장 많이 다루는 형태는 **표 형태의 구조화된 데이터**입니다:
- Excel 스프레드시트
- CSV 파일
- 데이터베이스 테이블
- 설문조사 결과

**📊 Pandas가 해결하는 문제들:**
1. **데이터 로딩**: 다양한 형식(CSV, Excel, JSON)에서 쉽게 데이터 읽기
2. **데이터 정제**: 결측치, 중복값, 이상치 처리
3. **데이터 변환**: 필터링, 정렬, 그룹화, 집계
4. **데이터 분석**: 통계 계산, 상관관계 분석
5. **데이터 저장**: 처리된 데이터를 다양한 형식으로 저장

**⚡ 언제 Pandas를 사용하나요?**
- ✅ 표 형태 데이터 분석할 때
- ✅ CSV, Excel 파일을 다룰 때
- ✅ 데이터 전처리가 필요할 때
- ✅ 그룹별 통계를 계산할 때
- ❌ 이미지, 텍스트 분석 (다른 라이브러리 필요)
- ❌ 실시간 스트리밍 데이터 (다른 도구 필요)

In [ ]:
# Pandas 라이브러리 설치 및 임포트
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

print("=== Pandas 라이브러리 소개 ===")
print(f"Pandas 버전: {pd.__version__}")
print(f"NumPy 버전: {np.__version__}")

=== Pandas 라이브러리 소개 ===
Pandas 버전: 2.0.3
NumPy 버전: 1.24.4

📊 Pandas 주요 특징:
1. 구조화된 데이터 처리를 위한 라이브러리
2. Excel, CSV, JSON 등 다양한 형식 지원
3. 강력한 데이터 조작 및 분석 기능
4. SQL과 유사한 데이터 조작 가능
5. 결측치 처리와 데이터 정제 기능

### 1.2 DataFrame 생성 방법

In [ ]:
# 온라인 쇼핑몰 고객 데이터 생성 및 조작
print("=== 온라인 쇼핑몰 고객 데이터 분석 시스템 ===")

# 1. 딕셔너리로 DataFrame 생성
customer_data = {
    '고객ID': ['C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007', 'C008'],
    '이름': ['김철수', '이영희', '박민수', '최지연', '정다운', '송하늘', '윤서진', '장민호'],
    '나이': [25, 32, 28, 35, 29, 24, 31, 27],
    '성별': ['남', '여', '남', '여', '여', '남', '여', '남'],
    '도시': ['서울', '부산', '대구', '서울', '인천', '광주', '서울', '대전'],
    '구매금액': [150000, 89000, 245000, 67000, 178000, 134000, 98000, 203000],
    '구매횟수': [3, 1, 7, 2, 4, 3, 2, 5],
    '회원등급': ['골드', '실버', '플래티넘', '브론즈', '골드', '실버', '실버', '골드']
}

df = pd.DataFrame(customer_data)

print("📊 고객 데이터 DataFrame:")
print(df)

# 2. 리스트로 DataFrame 생성
product_data = [
    ['P001', '노트북', 1200000, '전자제품'],
    ['P002', '마우스', 35000, '전자제품'],
    ['P003', '키보드', 89000, '전자제품'],
    ['P004', '책상', 150000, '가구'],
    ['P005', '의자', 200000, '가구']
]

df_products = pd.DataFrame(product_data,
                          columns=['상품ID', '상품명', '가격', '카테고리'])
print(f"\n📦 상품 데이터 DataFrame:")
print(df_products)

# 3. CSV 파일에서 DataFrame 생성 (추가예정)
print(f"\n=== DataFrame 기본 정보 ===")
df = pd.read_csv("고객데이터.csv", encoding='CP949')
# df.to_csv("고객데이터.csv",encoding='CP949') 저장
print(f"데이터 크기: {df.shape}")
print(f"컬럼 정보:")
print(df.info())

print(f"\n기본 통계:")
print(df.describe())

# 4. 기본 조작 - 인덱싱과 슬라이싱
print(f"\n=== 데이터 조회 및 선택 ===")

# 특정 컬럼 선택
print("이름 컬럼만 선택:")
print(df['이름'])

# 여러 컬럼 선택
print(f"\n이름과 구매금액 선택:")
print(df[['이름', '구매금액']])

# 행 선택 (iloc)
print(f"\n첫 3행 선택:")
print(df.iloc[:3])

# 조건부 선택 (loc)
print(f"\n구매금액이 100000원 이상인 고객:")
print(df.loc[df['구매금액'] >= 100000])

# 5. 새로운 컬럼 추가
df['평균구매금액'] = df['구매금액'] / df['구매횟수']
df['VIP여부'] = df['구매금액'] >= 150000

print(f"\n=== 컬럼 추가 후 DataFrame ===")
print(df[['이름', '구매금액', '평균구매금액', 'VIP여부']])

=== 온라인 쇼핑몰 고객 데이터 분석 시스템 ===
📊 고객 데이터 DataFrame:
   고객ID   이름  나이 성별  도시    구매금액  구매횟수  회원등급
0  C001  김철수  25  남  서울  150000     3    골드
1  C002  이영희  32  여  부산   89000     1    실버
2  C003  박민수  28  남  대구  245000     7  플래티넘
3  C004  최지연  35  여  서울   67000     2   브론즈
4  C005  정다운  29  여  인천  178000     4    골드
5  C006  송하늘  24  남  광주  134000     3    실버
6  C007  윤서진  31  여  서울   98000     2    실버
7  C008  장민호  27  남  대전  203000     5    골드

📦 상품 데이터 DataFrame:
   상품ID  상품명       가격  카테고리
0  P001  노트북  1200000  전자제품
1  P002  마우스    35000  전자제품
2  P003  키보드    89000  전자제품
3  P004   책상   150000    가구
4  P005   의자   200000    가구

=== DataFrame 기본 정보 ===
데이터 크기: (8, 9)
컬럼 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8 non-null      int64
 1   고객ID        8 non-null      object
 2   이름          8 non-null      object
 3   나이          8 non-null      int64
 4   성별          8 non-null      object
 5   도시          8 non-null      object
 6   구매금액        8 non-null      int64
 7   구매횟수        8 non-null      int64
 8   회원등급        8 non-null      object
dtypes: int64(4), object(5)
memory usage: 704.0+ bytes
None

기본 통계:
       Unnamed: 0         나이           구매금액     구매횟수
count     8.00000   8.000000       8.000000  8.00000
mean      3.50000  28.875000  145500.000000  3.37500
std       2.44949   3.681518   60975.404878  1.92261
min       0.00000  24.000000   67000.000000  1.00000
25%       1.75000  26.500000   95750.000000  2.00000
50%       3.50000  28.500000  142000.000000  3.00000
75%       5.25000  31.250000  184250.000000  4.25000
max       7.00000  35.000000  245000.000000  7.00000

=== 데이터 조회 및 선택 ===
이름 컬럼만 선택:
0    김철수
1    이영희
2    박민수
3    최지연
4    정다운
5    송하늘
6    윤서진
7    장민호
Name: 이름, dtype: object

이름과 구매금액 선택:
    이름    구매금액
0  김철수  150000
1  이영희   89000
2  박민수  245000
3  최지연   67000
4  정다운  178000
5  송하늘  134000
6  윤서진   98000
7  장민호  203000

첫 3행 선택:
   Unnamed: 0  고객ID   이름  나이 성별  도시    구매금액  구매횟수  회원등급
0           0  C001  김철수  25  남  서울  150000     3    골드
1           1  C002  이영희  32  여  부산   89000     1    실버
2           2  C003  박민수  28  남  대구  245000     7  플래티넘

구매금액이 100000원 이상인 고객:
   Unnamed: 0  고객ID   이름  나이 성별  도시    구매금액  구매횟수  회원등급
0           0  C001  김철수  25  남  서울  150000     3    골드
2           2  C003  박민수  28  남  대구  245000     7  플래티넘
4           4  C005  정다운  29  여  인천  178000     4    골드
5           5  C006  송하늘  24  남  광주  134000     3    실버
7           7  C008  장민호  27  남  대전  203000     5    골드

=== 컬럼 추가 후 DataFrame ===
    이름    구매금액        평균구매금액  VIP여부
0  김철수  150000  50000.000000   True
1  이영희   89000  89000.000000  False
2  박민수  245000  35000.000000   True
3  최지연   67000  33500.000000  False
4  정다운  178000  44500.000000   True
5  송하늘  134000  44666.666667  False
6  윤서진   98000  49000.000000  False
7  장민호  203000  40600.000000   True

## 2. 데이터 필터링과 정렬

### 2.1 언제 어떤 필터링을 사용할까요?

**🔍 데이터 필터링의 목적:**
1. **이상치 제거**: 잘못된 데이터 걸러내기
2. **관심 그룹 추출**: 특정 조건의 고객만 분석
3. **데이터 품질 향상**: 불완전한 데이터 제외
4. **세분화 분석**: 그룹별 특성 파악

**⚡ 상황별 필터링 기법:**

| 상황 | 사용 기법 | 예시 |
|------|-----------|------|
| **단일 조건** | `df[조건]` | `df[df['나이'] >= 30]` |
| **여러 AND 조건** | `&` 연산자 | `df[(df['나이'] >= 30) & (df['성별'] == '남')]` |
| **여러 OR 조건** | `\|` 연산자 | `df[(df['도시'] == '서울') \| (df['도시'] == '부산')]` |
| **목록에서 선택** | `isin()` | `df[df['도시'].isin(['서울', '부산'])]` |
| **텍스트 포함** | `str.contains()` | `df[df['이름'].str.contains('김')]` |
| **범위 조건** | `between()` | `df[df['나이'].between(20, 30)]` |

**💡 정렬을 언제 사용할까요?**

✅ **정렬이 유용한 경우:**
- **순위 확인**: 매출 1위 고객 찾기
- **이상치 탐지**: 극값 데이터 확인
- **패턴 파악**: 시간순 변화 관찰
- **보고서 작성**: 깔끔한 데이터 표시

### 2.2 조건부 필터링 실습

In [ ]:
# 고급 데이터 필터링 및 정렬
print("=== 고급 데이터 필터링 및 정렬 ===")

# 복합 조건 필터링
print("1. 서울 거주 VIP 고객:")
seoul_vip = df[(df['도시'] == '서울') & (df['VIP여부'] == True)]
print(seoul_vip[['이름', '도시', '구매금액', 'VIP여부']])

# isin() 사용
print(f"\n2. 특정 도시 고객 (서울, 부산):")
city_filter = df[df['도시'].isin(['서울', '부산'])]
print(city_filter[['이름', '도시', '구매금액']])

# 정렬
print(f"\n3. 구매금액 기준 내림차순 정렬:")
sorted_by_amount = df.sort_values('구매금액', ascending=False)
print(sorted_by_amount[['이름', '구매금액', '회원등급']])

# 다중 컬럼 정렬
print(f"\n4. 회원등급별, 구매금액별 정렬:")
multi_sorted = df.sort_values(['회원등급', '구매금액'], ascending=[True, False])
print(multi_sorted[['이름', '회원등급', '구매금액']])

=== 고급 데이터 필터링 및 정렬 ===
1. 서울 거주 VIP 고객:
    이름  도시    구매금액  VIP여부
0  김철수  서울  150000   True

2. 특정 도시 고객 (서울, 부산):
    이름  도시    구매금액
0  김철수  서울  150000
1  이영희  부산   89000
3  최지연  서울   67000
6  윤서진  서울   98000

3. 구매금액 기준 내림차순 정렬:
    이름    구매금액  회원등급
2  박민수  245000  플래티넘
7  장민호  203000    골드
4  정다운  178000    골드
0  김철수  150000    골드
5  송하늘  134000    실버
6  윤서진   98000    실버
1  이영희   89000    실버
3  최지연   67000   브론즈

4. 회원등급별, 구매금액별 정렬:
    이름  회원등급    구매금액
7  장민호    골드  203000
4  정다운    골드  178000
0  김철수    골드  150000
3  최지연   브론즈   67000
5  송하늘    실버  134000
6  윤서진    실버   98000
1  이영희    실버   89000
2  박민수  플래티넘  245000

## 3. 그룹화와 집계 함수

### 3.1 GroupBy 연산

In [ ]:
# 그룹화와 집계 분석
print("=== 그룹화와 집계 분석 ===")

# 1. 도시별 집계
print("1. 도시별 고객 분석:")
city_analysis = df.groupby('도시').agg({
    '구매금액': ['mean', 'sum', 'count'],
    '구매횟수': 'mean',
    '나이': 'mean'
}).round(2)
print(city_analysis)

# 2. 회원등급별 분석
print(f"\n2. 회원등급별 분석:")
grade_analysis = df.groupby('회원등급').agg({
    '구매금액': ['mean', 'max', 'min'],
    '구매횟수': 'sum',
    '이름': 'count'
})
grade_analysis.columns = ['평균구매금액', '최대구매금액', '최소구매금액', '총구매횟수', '고객수']
print(grade_analysis.round(2))

# 3. 성별, 도시별 다중 그룹화
print(f"\n3. 성별-도시별 평균 구매금액:")
multi_group = df.groupby(['성별', '도시'])['구매금액'].mean().round(2)
print(multi_group)

# 4. 결측치 처리
print(f"\n=== 결측치 처리 ===")

# 의도적으로 결측치 생성 (시뮬레이션)
df_with_missing = df.copy()
df_with_missing.loc[1, '구매금액'] = np.nan
df_with_missing.loc[3, '나이'] = np.nan
df_with_missing.loc[5, '회원등급'] = np.nan

print("결측치 현황:")
print(df_with_missing.isnull().sum())

# 결측치 처리 방법
print(f"\n결측치 처리 방법:")
print("1. 평균값으로 채우기:")
df_filled = df_with_missing.copy()
df_filled['구매금액'].fillna(df_filled['구매금액'].mean(), inplace=True)
df_filled['나이'].fillna(df_filled['나이'].mean(), inplace=True)
print(f"구매금액 평균: {df_filled['구매금액'].mean():.0f}")

print("2. 최빈값으로 채우기:")
df_filled['회원등급'].fillna(df_filled['회원등급'].mode()[0], inplace=True)
print(f"회원등급 최빈값: {df_filled['회원등급'].mode()[0]}")

print(f"\n처리 후 결측치:")
print(df_filled.isnull().sum())

=== 그룹화와 집계 분석 ===
1. 도시별 고객 분석:
        구매금액                구매횟수     나이
        mean     sum count  mean   mean
도시
광주  134000.0  134000     1  3.00  24.00
대구  245000.0  245000     1  7.00  28.00
대전  203000.0  203000     1  5.00  27.00
부산   89000.0   89000     1  1.00  32.00
서울  105000.0  315000     3  2.33  30.33
인천  178000.0  178000     1  4.00  29.00

2. 회원등급별 분석:
        평균구매금액  최대구매금액  최소구매금액  총구매횟수  고객수
회원등급
골드    177000.0  203000  150000     12    3
브론즈    67000.0   67000   67000      2    1
실버    107000.0  134000   89000      6    3
플래티넘  245000.0  245000  245000      7    1

3. 성별-도시별 평균 구매금액:
성별  도시
남   광주    134000.0
    대구    245000.0
    대전    203000.0
    서울    150000.0
여   부산     89000.0
    서울     82500.0
    인천    178000.0
Name: 구매금액, dtype: float64

=== 결측치 처리 ===
결측치 현황:
Unnamed: 0    0
고객ID          0
이름            0
나이            1
성별            0
도시            0
구매금액          1
구매횟수          0
회원등급          1
평균구매금액        0
VIP여부         0
dtype: int64

결측치 처리 방법:
1. 평균값으로 채우기:
구매금액 평균: 153571
2. 최빈값으로 채우기:
회원등급 최빈값: 골드

처리 후 결측치:
Unnamed: 0    0
고객ID          0
이름            0
나이            0
성별            0
도시            0
구매금액          0
구매횟수          0
회원등급          0
평균구매금액        0
VIP여부         0
dtype: int64

## 4. 정리 및 다음 강의 안내

### 🎯 오늘 배운 내용
1. **DataFrame 생성**: 딕셔너리, 리스트, CSV에서 생성
2. **데이터 조작**: 인덱싱, 슬라이싱, 컬럼 추가
3. **필터링과 정렬**: 조건부 필터링, 다중 정렬
4. **그룹화와 집계**: GroupBy, 집계 함수 활용
5. **결측치 처리**: 평균값, 최빈값으로 채우기

### 📝 숙제
1. 자신만의 데이터셋으로 DataFrame 생성하기
2. 복합 조건으로 데이터 필터링해보기
3. 그룹화를 활용한 데이터 분석 실습

### 🔜 다음 강의: 데이터 시각화
- Matplotlib 기본 사용법
- 다양한 그래프 생성
- Seaborn 고급 시각화